/* Reset CSS */
.top,
.dock,
.dock > toolitem,
.dock > toolitem > widget,
.dock-item {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.dock {
	background-color: #1e1e2e;
}

.dock.horizontal {
  padding-left: 12px;
  padding-right: 12px;
}

.dock.vertical {
  padding-top: 12px;
  padding-bottom: 12px;
}

.dock-item {
  padding: 5px 8px;
	margin-right: 3px;
	border-radius: 5%;
  transition: 0.2s linear;
  transition-property: all;
  -gtk-icon-shadow: 1px 2px alpha(black, 0.2);
}

.dock-item.hidden {
  opacity: 0.2;
}

.dock.vertical .dock-item {
  padding: 8px 5px;
}

.dock-item:hover {
	background-color: #313244;
  border: none;
}

.dock.horizontal .dock-item.active {
  /* margin-bottom: -4px; */
  /*border-bottom: 2px solid #cdd6f4;*/
  /*padding-bottom: 2px;*/
	background-color: rgba(205,	214, 244, 0.4);
	background-color: #45475a;
}

.dock.vertical .dock-item.active {
  /* margin-bottom: -4px; */
  border-right: 2px solid #cdd6f4;
  padding-right: 2px;
}
